/* 顶部小工具栏 */
#toolsbox{
    position:absolute;
    top:0;
    z-index: 999;
    text-align: right;
    right:0;
    height:22px;
}
#toolsbox button{
    margin:0px 4px;
    /* height:25px; */
}

#lefttools{
    margin-right: 50px;
}

/* Playground区域 */
#blocklyDiv{
    display:inline-block;
    width:100%;
    height:99%;
}

/* 给用户看生成的结果 */
#rescodebox{
    position:absolute;
    right:0;
    top:150px;
    width:25%;
    height:60%;
    z-index: 10;
    border: 1px solid black;
    opacity: 0.8;
}

/* 修改input样式 */
.loadprojectbutton{
    font-size:12px;
    overflow:hidden;
    /* width:98px; */
    /* height: 25px; */
    position: relative;
}
.projectfile{
    /* width:98px; */
    width:100%;
    height: 100%;
    overflow: hidden;
    /* height: 25px; */
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    opacity:0;
    filter:alpha(opacity=0);
}

/* 主界面右上角俩按钮 */
#toolsbox .settingbut{
    color:rgb(67, 98, 153);
    margin:2px;
    font-size: 25px;
    height:50px;
    width: 60px;
}
#toolsbox .settingbut:hover{
    cursor: pointer;
    font-size: 27px;
    border-color: gray;
}

/* 自定义blockly弹窗里的button样式 */
#customDialog{
    margin:0 auto;
    padding:10px;
    width:400px;
    background-color: rgba(0, 0, 0, 0);
}
#customDialog .customDialogMessage{
    color:gray;
}
#customDialog #customDialogInput{
    width:100%;
    height:25px;
}
#customDialog .customDialogButtons{
    display: flex;
    justify-content: space-between;
}
#customDialog .customDialogButtons button{
    width:100px;
    height:30px;
    background-color: rgb(62, 128, 170);
}